.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fl{
    float: left;
}

.cl{
    clear: both;
}

.w-200{
    width: 200px;
}

.bd{
    font-weight: bold;
}

hr{
    margin: 0.5rem 0 !important;
    color: rgb(96, 96, 96);
}

.btn-info{
    background-color: #5a767a !important;
}