#topRightMenu{
    position: fixed;
    z-index: 10;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}   

#topRightMenu_alert{
    position: relative;
}

#topRightMenu_alertNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(228, 40, 40);
    color:white;
    border-radius: 0.2rem;
    padding: 0 1px;
    top: 0;
    right: 0;
    min-width: 15px;
    height: 15px;
    font-size: 10px;

}

.topContainer{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-between;
}

.bottomContainer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bottomContainer input,
.bottomContainer select{
    height: 37.5px;
}

#marketListChecks{
    padding: 20px;
    min-width: 300px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid gray;
    box-shadow: 2px black;
    height: 85%;
    overflow-y: scroll;
}


.chart{
    width: 100%;
    min-height: 400px;
}

.chartHeighted{
    width: 100%;
}

.chartContainer{
    width: 100%;
}

.statsPage{
    padding-top: 30px;
    padding-left: 10px;
}

.statsPageContent{
    padding-top: 30px;
    padding-left: 30px;

}

.statsPageDataList,
.statsPageDataListScrollable{
    margin-top: 40px;
    height: fit-content;
    width: 340px;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 10px;

}

.statsPageDataListScrollable{
    max-height: 400px;
    overflow-y: scroll;
}



#simulationPanel{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: scroll;
}
#correlationTableContainer{
    height: 800px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

#dropdownMenuButton{
    height: 35px;
    border-top:none;
    border-left:none;
    border-right:none;
    width:99%;
    color:black;
    background-color:white !important;
    text-align: left;
}

#dropdownMenuButton:hover{
    box-shadow: 0px 6px 2px 1px rgba(0, 123, 255, 0.25);
}